html {
    font-size: 62.5%;
}

body {
    background: url('../image/bg-desktop.svg');
    background-color: var(--ola);
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.conteiner {
    display: flex;
    padding: 30px 40px;
    margin-top: 50px;

}

.sobre {
    display: block;
    margin-top: 50px;
    margin-left: 30px;
}

.sobre .titulo {
    font-size: 4.5rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.sobre .resumo {
    margin-top: 20px;
    font-size: 2rem;
    color: #fff;
}

.registro {
    padding: 10px 40px;
    border-radius: 50px;
    color: var(--ola);
    background-color: #fff;
    font-size: 1.8rem;
    margin-top: 3rem;
    display: inline-block;
    box-shadow: 0 0.6rem 1.6rem -0.4rem #000;
    transition: 0.3s;
}

.registro:hover {
    background-color: var(--Soft);
    color: #fff;
}

.social {
    display: flex;
    justify-content: flex-end;
}

.social a {
    margin-left: 10px;
    color: #fff;
}

.social a i {
    font-size: 1.6rem;
    transition: 0.3s ease-in-out;
}

.social a i:hover {
    color: var(--Soft);
    border-color: var(--Soft);
}


.fab.fa-facebook-f {
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 6px 9px;
}

.fab.fa-twitter {
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 6px 6px;
}

.fab.fa-instagram {
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 6px 7px;
}